{{ template "header.html" . }}
<div class="container">

    <div>
      <form method="POST">
        <div class="form-group">
          <label for="bookid">Book ID</label>
          <input type="text" class="form-control" name="bookid" aria-describedby="bookIdHelp" placeholder="Book ID">
          <small id="bookIdHelp" class="form-text text-muted">Book ID (or full URL with ID)</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    {{if .Success}}
    <div class="alert alert-success" role="alert">
      Book {{.BookID}} saved successfully
    </div>
    {{end}}

    {{if .Err}}
    <div class="alert alert-danger" role="alert">
      Failed to add book: {{.Err}}
    </div>
    {{end}}

</div>
{{ template "footer.html"  . }}