{{ template "header.html" . }}
<div class="container" role="main" id="bookItems">

  {{range .Items}}
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h5>
          <a href="{{.URL}}">{{.Title}}</a>
        </h5>
      </div>

      <h6 class="card-subtitle mb-2 text-muted">{{.Author}}</h6>

      {{if .Error}}
      <div class="alert alert-danger" role="alert">
        Refresh failed: {{.Error}}
      </div>
      {{end}}

      <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">{{.ItemID}}</dd>

        <dt class="col-sm-3">Available</dt>
        <dd class="col-sm-9 knihomolAvailable">
          {{if .Available}}
          <span class="badge badge-success">{{.Available}}</span>
          {{else}}
          <span class="badge badge-secondary">{{.Available}}</span>
          {{end}}
        </dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">{{.Status}}</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">{{.Location}}</dd>

        <dt class="col-sm-3">Last update</dt>
        <dd class="col-sm-9">{{.LastUpdate}}</dd>
      </dl>

    </div>
  </div>
  {{end}}

</div>
{{ template "footer.html"  . }}