{{ template "header.html" . }}
<div class="container" role="main" id="bookItems">

  <form>
    <input class="form-control" type="search" placeholder="Search" id="filter" onkeyup="filterItems()"
      aria-label="Search">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="availableOnly" onchange="filterItems()">
      <label class="form-check-label" for="availableOnly">
        Show only available
      </label>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {{range .Items}}
      <tr class="tritem">
        <td class="tdname"><a href="{{.URL}}">{{.Title}}, {{.Author}}</a></td>
        <td class="tdstatus">
          {{if .Error}}
            <span class="badge badge-danger">{{.Error}}<span>
          {{else}}
            {{if .Available}}
            <span class="badge badge-success">{{.Available}}</span>
            {{else}}
            <span class="badge badge-secondary">{{.Available}}</span>
            {{end}}
            <small>{{.Status}}, {{.Location}}, {{.LastUpdate}}</small>
          {{end}}
          <div class="col px-0">
            <form method="POST" action="/restricted/remove-book">
              <input type="hidden" id="bookid" name="bookid" value="{{.BookID}}">
              <button type="submit" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>

</div>
{{ template "footer.html"  . }}